:root {
    --color-background: #172028;
    --color-border: #000;
    --color-light: #eeeeee90
}

* {
    font-family: "Open Sans",Helvetica,Arial,sans-serif;
    color: var(--color-light);
    box-sizing:content-box;
}

h3 {
    margin-top: 0.75em;
    font-size: 15px;
}

p {
    margin-top: 0.75em;
    font-size: 12px;
}

a {
    text-decoration: none;
}

::-webkit-scrollbar {
    display: none;
}

/* component format */
body {
    margin: 0;
    background-color: #00000000;
    /* -ms-overflow-style: none;  
    scrollbar-width: none;   */
}

#container {
    width: 98%;
    margin: 10px auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    justify-items: left;

}

.cardWrapper {
    width: 16em;
    height: 14em;
    margin: 0.5em;

    display: flex;
    flex-direction: column;
    flex-grow: 0.15;
    flex-shrink: 0.3;


    background-color: #23252b;
    border: var(--color-border) 3px solid;
    border-radius: 15px;
}


.cardWrapper .tooltiptext {
    visibility: hidden;
    background-color: black;
    opacity: 0.7;
    color: #fff;
    font-size: 12px;
    text-align: center;
    border-radius: 1px;
    padding: 5px 0;
    left: 10px;
    top: 10px;
    /* Position the tooltip */
    position: absolute;
    /*z-index: 1;*/
}

.cardWrapper:hover {
background-color: #31333a;
border-color: #e9088b;
}
.cardWrapper:hover .text .des{
color: #eee;
}

.cardWrapper:hover .tooltiptext {
    visibility: visible;
}

.image {
    width: 100%;
    height: 9em;
    object-fit: cover;

    border-radius: 12px 12px 0 0;
}

.text {
    margin-top: 0.75em;
    padding: 0 1em;
    white-space: pre-wrap;
}

.des {
    margin-top: 0.75em;
    color: #eeeeee90;
}

/* tiles */

/* main */
.MAIN {
    width: 24em;
    flex-grow: 2;
}

.MAIN a {
    display: flex;
}

.MAIN a .image {
    width: 70%;
    height: 14em;
    border-radius: 12px 0 0 12px;
}

.MAIN .text {
    padding: 0 1em;
    width: 50%;
    white-space: pre-wrap;
}

/* waining */
.WARNING {
    border: #a1be46 3px solid;
}

.WARNING .image {
    display: none;
}

.WARNING .title {
    color: #a1be46;
}

/* text */
.TEXT .image{
    display: none;
}

/* splash */
.SPLASH {
    height: 44em;
    width: 100%;
    order: -1;
}

.SPLASH .text {
    padding: 0 1em;
    white-space: pre-wrap;
}

.SPLASH .image {
    width: 100%;
    height: 34em;
    object-fit: cover;
}