:root {
    --color-background: #172028;
    --color-border: #000;
    --color-light: #eee;
  }

* {
    font-family: "Open Sans",Helvetica,Arial,sans-serif;
    color: var(--color-light);
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

::-webkit-scrollbar {
    display: none;
}



/* component format */
body {
    margin: 0;
    background-color: #00000000;

    /* -ms-overflow-style: none;  
    scrollbar-width: none;   */
}

#container {
    width: 98%;
    margin: 10px auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.cardWrapper {
    width: 18em;
    height: 18em;
    margin: 0.5em;

    display: flex;
    flex-direction: column;
    flex-grow: 1;

    border: var(--color-border) 3px solid;
    border-radius: 15px;
}

.image {
    width: 100%;
    height: 11em;
    object-fit: cover;

    border-radius: 12px 12px 0 0;
}

.title, .des {
    margin-top: 1em;
    padding-left: 1em;
}

.des {
    color: #eeeeee90;
}

/* tiles */
.Main {
    flex-grow: 2;
}